{% extends 'worldCupShop/base.html' %}
{% load static %}


{% block breadcrumb %}
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Programmes</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Mon Profil</a></li>
                        <li class="breadcrumb-item active">Mes Programmes</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
{% endblock %}
{% block content %}
    <div class="row mb-3 justify-content-end m-1">
        <div class="btn-group">
            <button type="button" class="btn btn-info">Action</button>
            <button type="button" class="btn btn-info dropdown-toggle dropdown-icon" data-toggle="dropdown" aria-expanded="false">
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <div class="dropdown-menu dropdown-menu-right" role="menu" style="">
                <a class="dropdown-item" href="#">Ajouter un programme</a>
                <a class="dropdown-item" href="#">Modifier l'ordre des programmes</a>
                <a class="dropdown-item" href="#">Something else here</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Separated link</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 m-auto">
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Mon profil</h3>

                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <form enctype="multipart/form-data" action="{% url 'worldCupShop:profil_edit' %}" method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-primary">Enregistrer</button>
                        <a href="{% url 'worldCupShop:index' %}" class="btn btn-danger float-right">Retour</a>
                    </form>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>
        $('.card-body p').css({"display": "flex", "flex-direction": "column"});
        $('#id_first_name').val('{{ user.first_name }}');
        $('#id_last_name').val('{{ user.last_name }}');
        $('#id_username').val('{{ user.username }}');
        $('#id_email').val('{{ user.email }}');
    </script>
{% endblock %}
