{% extends 'worldCupShop/base.html' %}
{% load static %}

{% block css %}
    <!-- fullCalendar -->
    <link rel="stylesheet" href="{% static 'AdminLTE-3.2.0/plugins/fullcalendar/main.css' %}">
{% endblock %}

{% block content %}
    <div class="modal fade" id="modal-suppression-confirm" style="display: none;" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Suppression d'un entrainement</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Voulez-vous vraiment supprimer l'entrainement ?</p>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                    <button id="modal-suppression-confirm-button" type="button" class="btn btn-primary">Confirmer la suppression</button>
                </div>
            </div>
        </div>

    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div class="sticky-top mb-3">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Les programmes Draggable</h4>
                        </div>
                        <div class="card-body">
                            <!-- the events -->
                            <div id="external-events">
                                <div class="checkbox">
                                    <label for="drop-remove">
                                        <input type="checkbox" id="drop-remove">
                                        remove after drop
                                    </label>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Zone de suppression d'entrainements</h4>
                        </div>
                        <div id="divForDeletionTest" class="card-body">
                            <!-- the events -->
                            {% comment %}<div id="drop-zone" class="bg-light p-3 text-center">
                                Déposez votre entrainement ici pour le supprimer
                            </div>{% endcomment %}
                            {% comment %}<div id="calendarTrash" class="calendar-trash">
                                <div id="drop-zone" class="bg-light p-3 text-center">
                                    Déposez votre entrainement ici pour le supprimer
                                </div>
                            </div>{% endcomment %}
                            <div class="well well-sm" id="deleteEventsDiv">
                                <legend>
                                    Suppression d'entrainement
                                </legend>
                                <div id="drop-zone" class="bg-light p-3 text-center">
                                    Déposez votre entrainement ici pour le supprimer (si rien ne se passe, veuillez réessayer)
                                </div>
                            </div>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Creer un évènement</h3>
                        </div>
                        <div class="card-body">
                            <div class="btn-group" style="width: 100%; margin-bottom: 10px;">
                                <ul class="fc-color-picker" id="color-chooser">
                                    <li><a class="text-primary" href="#"><i class="fas fa-square"></i></a></li>
                                    <li><a class="text-warning" href="#"><i class="fas fa-square"></i></a></li>
                                    <li><a class="text-success" href="#"><i class="fas fa-square"></i></a></li>
                                    <li><a class="text-danger" href="#"><i class="fas fa-square"></i></a></li>
                                    <li><a class="text-muted" href="#"><i class="fas fa-square"></i></a></li>
                                </ul>
                            </div>
                            <!-- /btn-group -->
                            <div class="input-group">
                                <input id="new-event" type="text" class="form-control" placeholder="Titre de l'évènement">

                                <div class="input-group-append">
                                    <button id="add-new-event" type="button" class="btn btn-primary">Add</button>
                                </div>
                                <!-- /btn-group -->
                            </div>
                            <!-- /input-group -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.col -->
            <div class="col-md-9">
                <div class="card card-primary">
                    <div class="card-body p-0">
                        <!-- THE CALENDAR -->
                        <div id="calendar"></div>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
    </div>
    <style>
        .fc-view
        {
            width: 100%;
            overflow: visible;
        }
    </style>
{% endblock %}

{% block script %}
    <!-- fullCalendar 2.2.5 -->
    <script>
        $.widget.bridge('uibutton', $.ui.button)
    </script>
    <script src="{% static 'AdminLTE-3.2.0/plugins/moment/moment.min.js' %}"></script>
    <script src="{% static 'AdminLTE-3.2.0/plugins/fullcalendar/main.js' %}"></script>

    <!-- SweetAlert2 -->
    <script src="{% static 'AdminLTE-3.2.0/plugins/sweetalert2/sweetalert2.min.js' %}"></script>
    <!-- Toastr -->
    <script src="{% static 'AdminLTE-3.2.0/plugins/toastr/toastr.min.js' %}"></script>
    <script>


        $("#drop-zone").on("dragover", function(event) {
            event.preventDefault();
            console.log("test")
        });

        $("#drop-zone").on("drop", function(event) {
            console.log("test")
        });

        var Toast = Swal.mixin({
            toast: true,
            position: 'top-end',
            showConfirmButton: false,
            timer: 3000
        });

        $(document).ready(function(){
            $(function () {

            /* initialize the external events
             -----------------------------------------------------------------*/
            function ini_events(ele) {
                ele.each(function () {

                    // create an Event Object (https://fullcalendar.io/docs/event-object)
                    // it doesn't need to have a start or end
                    var eventObject = {
                        title: $.trim($(this).text()) // use the element's text as the event title
                    }

                    // store the Event Object in the DOM element so we can get to it later
                    $(this).data('eventObject', eventObject)

                    // make the event draggable using jQuery UI
                    $(this).draggable({
                        zIndex        : 1070,
                        revert        : true, // will cause the event to go back to its
                        revertDuration: 0  //  original position after the drag
                    })

                })
            }

            ini_events($('#external-events div.external-event'))

            /* initialize the calendar
             -----------------------------------------------------------------*/
            //Date for the calendar events (dummy data)
            var date = new Date()
            var d    = date.getDate(),
                m    = date.getMonth(),
                y    = date.getFullYear()

            var Calendar = FullCalendar.Calendar;
            var Draggable = FullCalendar.Draggable;

            var containerEl = document.getElementById('external-events');
            var checkbox = document.getElementById('drop-remove');
            var calendarEl = document.getElementById('calendar');

            // initialize the external events
            // -----------------------------------------------------------------

            new Draggable(containerEl, {
                itemSelector: '.external-event',
                eventData: function(eventEl) {
                    return {
                        title: eventEl.innerText,
                        backgroundColor: window.getComputedStyle( eventEl ,null).getPropertyValue('background-color'),
                        borderColor: window.getComputedStyle( eventEl ,null).getPropertyValue('background-color'),
                        textColor: window.getComputedStyle( eventEl ,null).getPropertyValue('color'),
                    };
                }
            });

            var calendar = new Calendar(calendarEl, {
                firstDay: 1,
                locale: 'fr',
                headerToolbar: {
                    left  : 'prev,next today',
                    center: 'title',
                    right : 'dayGridMonth,timeGridWeek,timeGridDay'
                },
                themeSystem: 'bootstrap',
                //affichage des entrainements
                events: [
                    {% for entrainement in entrainements %}
                        {
                            title          : '{{ entrainement.label }}',
                            start          : new Date({{ entrainement.date|date:"Y" }}, {{ entrainement.date|date:"m" }} - 1, {{ entrainement.date|date:"d" }}),
                            url: '{% url "worldCupShop:programmes_detail" entrainement.programme.id %}',
                            allDay: true,
                            data_entrainement_id: '{{ entrainement.id }}'
                        },
                    {% endfor %}
                ],
                editable  : true,
                droppable : true,
                eventDragStop: function(event, jsEvent, ui, view, removeEvents ) {
                    // This condition makes it easier to test if the event is over the trash can using Jquery
                    if($('div#divForDeletionTest').is(':hover')){
                        // Confirmation popup
                        $('#modal-suppression-confirm').modal('show');
                        // If the user confirms the deletion
                        $('#modal-suppression-confirm').on('click', '#modal-suppression-confirm-button', function(){
                            // Delete the event
                            //faire un appel ajax
                            console.log("test")
                            $.ajax({
                                url: "{% url 'worldCupShop:delete_entrainement_from_calendar' %}",
                                type: "POST",
                                data: {
                                    csrfmiddlewaretoken: '{{ csrf_token }}',
                                    entrainement_id: event.event.extendedProps.data_entrainement_id,
                                },
                                success: function (data) {
                                    event.event.remove();
                                    $('#modal-suppression-confirm').modal('hide');
                                    $(document).Toasts('create', {
                                        class: 'bg-success',
                                        title: 'Suppression de l\'entrainement',
                                        body: 'La suppression de l\'entrainement a bien été faites.',
                                        autohide: true,
                                        delay: 3000,
                                    })
                                },
                                error: function (data) {
                                    $('#modal-suppression-confirm').modal('hide');
                                    Toast.fire({
                                        icon: 'error',
                                        title: 'Une erreur est survenue lors de la suppression de l\'entrainement.'
                                    })
                                }
                            });

                        });
                    }
                },
                drop      : function(info) {


                    //faire un appel ajax
                    $.ajax({
                        {% comment %}url: "{% url 'worldCupShop:ajouter_programme_planning' %}",{% endcomment %}
                        url: "{% url 'worldCupShop:add_programme_to_calendar' %}",
                        type: "POST",
                        data: {
                            csrfmiddlewaretoken: '{{ csrf_token }}',
                            title: info.draggedEl.innerText,
                            programme_id: info.draggedEl.getAttribute('data-programme-id'),
                            date_debut: info.dateStr,
                        },
                        success: function (data) {
                            location.reload();
                        },
                        error: function (data) {
                            console.log('Error:', data);
                        }
                    });



                    // is the "remove after drop" checkbox checked?
                    if (checkbox.checked) {
                        // if so, remove the element from the "Draggable Events" list
                        info.draggedEl.parentNode.removeChild(info.draggedEl);
                    }
                }
            });

            calendar.render();
            // $('#calendar').fullCalendar()

            /* ADDING EVENTS */
            var currColor = '#3c8dbc' //Red by default
            // Color chooser button
            $('#color-chooser > li > a').click(function (e) {
                e.preventDefault()
                // Save color
                currColor = $(this).css('color')
                // Add color effect to button
                $('#add-new-event').css({
                    'background-color': currColor,
                    'border-color'    : currColor
                })
            })

            function f() {

                {% for programme in programmes %}

                    // Create events
                    var event = $('<div />')
                    event.css({
                        'background-color': '#3c8dbc',
                        'border-color'    : '#3c8dbc',
                        'color'           : '#fff'
                    }).addClass('external-event')
                    event.text("{{ programme.label }}")
                    event.attr("data-programme-id", "{{ programme.id }}");
                    $('#external-events').prepend(event)

                    // Add draggable funtionality
                    ini_events(event)

                {% endfor %}
            }

            f();

            $('#add-new-event').click(function (e) {
                e.preventDefault()
                // Get value and make sure it is not null
                var val = $('#new-event').val()
                if (val.length == 0) {
                    return
                }

                // Create events
                var event = $('<div />')
                event.css({
                    'background-color': currColor,
                    'border-color'    : currColor,
                    'color'           : '#fff'
                }).addClass('external-event')
                event.text(val)
                $('#external-events').prepend(event)

                // Add draggable funtionality
                ini_events(event)

                // Remove event from text input
                $('#new-event').val('')
            })
        })
        });




    </script>

{% endblock %}